<%- include('../../shared/includes/head', { pageTitle: 'All-Products' }) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
<main>
    <h1>Products Administration</h1>
    <section>
        <h2>Manage Products</h2>
        <p><a href="/admin/products/new" class="btn">Add Products</a>
        </p>
    </section>
    <section>
                <ul>
                    <% products.forEach(function(product) { %>
                        <li>
                            <%- include('../includes/product-item.ejs', { product: product }) %>
                        </li>
                    <% }); %>
                </ul>
    </section>
</main>

<%- include('../../shared/includes/footer') %>