<%- include('../../shared/includes/head', { pageTitle: 'Login' }) %>
<link rel="stylesheet" href="/styles/form.css" >
<link rel="stylesheet" href="/styles/auth.css" >

</head>
<body>
    <%- include('../../shared/includes/header') %>
<main>
    <h1>Login in</h1>
    <form action="/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <p>
            <lable for="email">E-mail</lable>
            <input type="email" id="email" name="email" required> 
        </p>
        <p>
            <lable for="password">Password</lable>
            <input type="password" id="password" name="password" minlenght="8" required> 
        </p>
        <button class="btn">Login</button>
        <p id="switch-form"><a href="/signup">Create a new user account</a></p>
    </form>
</main>

<%- include('../../shared/includes/footer') %>